<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.176.2</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:authenticated</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:ibarona</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jamolina</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:javendano</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jbenavidez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jmartinez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:authenticated</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:ibarona</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jamolina</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:javendano</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jbenavidez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jmartinez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:authenticated</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:ibarona</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jamolina</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:javendano</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jbenavidez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jmartinez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:authenticated</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:ibarona</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jamolina</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:javendano</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jbenavidez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jmartinez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:authenticated</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:ibarona</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jamolina</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:javendano</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jbenavidez</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jmartinez</permission>
    <permission>hudson.model.Computer.Build:authenticated</permission>
    <permission>hudson.model.Computer.Build:ibarona</permission>
    <permission>hudson.model.Computer.Build:jamolina</permission>
    <permission>hudson.model.Computer.Build:javendano</permission>
    <permission>hudson.model.Computer.Build:jbenavidez</permission>
    <permission>hudson.model.Computer.Build:jmartinez</permission>
    <permission>hudson.model.Computer.Configure:authenticated</permission>
    <permission>hudson.model.Computer.Configure:ibarona</permission>
    <permission>hudson.model.Computer.Configure:jamolina</permission>
    <permission>hudson.model.Computer.Configure:javendano</permission>
    <permission>hudson.model.Computer.Configure:jbenavidez</permission>
    <permission>hudson.model.Computer.Configure:jmartinez</permission>
    <permission>hudson.model.Computer.Connect:authenticated</permission>
    <permission>hudson.model.Computer.Connect:ibarona</permission>
    <permission>hudson.model.Computer.Connect:jamolina</permission>
    <permission>hudson.model.Computer.Connect:javendano</permission>
    <permission>hudson.model.Computer.Connect:jbenavidez</permission>
    <permission>hudson.model.Computer.Connect:jmartinez</permission>
    <permission>hudson.model.Computer.Create:authenticated</permission>
    <permission>hudson.model.Computer.Create:ibarona</permission>
    <permission>hudson.model.Computer.Create:jamolina</permission>
    <permission>hudson.model.Computer.Create:javendano</permission>
    <permission>hudson.model.Computer.Create:jbenavidez</permission>
    <permission>hudson.model.Computer.Create:jmartinez</permission>
    <permission>hudson.model.Computer.Delete:authenticated</permission>
    <permission>hudson.model.Computer.Delete:ibarona</permission>
    <permission>hudson.model.Computer.Delete:jamolina</permission>
    <permission>hudson.model.Computer.Delete:javendano</permission>
    <permission>hudson.model.Computer.Delete:jbenavidez</permission>
    <permission>hudson.model.Computer.Delete:jmartinez</permission>
    <permission>hudson.model.Computer.Disconnect:authenticated</permission>
    <permission>hudson.model.Computer.Disconnect:ibarona</permission>
    <permission>hudson.model.Computer.Disconnect:jamolina</permission>
    <permission>hudson.model.Computer.Disconnect:javendano</permission>
    <permission>hudson.model.Computer.Disconnect:jbenavidez</permission>
    <permission>hudson.model.Computer.Disconnect:jmartinez</permission>
    <permission>hudson.model.Hudson.Administer:authenticated</permission>
    <permission>hudson.model.Hudson.Administer:ibarona</permission>
    <permission>hudson.model.Hudson.Administer:jamolina</permission>
    <permission>hudson.model.Hudson.Administer:javendano</permission>
    <permission>hudson.model.Hudson.Administer:jbenavidez</permission>
    <permission>hudson.model.Hudson.Administer:jmartinez</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:ibarona</permission>
    <permission>hudson.model.Hudson.Read:jamolina</permission>
    <permission>hudson.model.Hudson.Read:javendano</permission>
    <permission>hudson.model.Hudson.Read:jbenavidez</permission>
    <permission>hudson.model.Hudson.Read:jmartinez</permission>
    <permission>hudson.model.Item.Build:authenticated</permission>
    <permission>hudson.model.Item.Build:ibarona</permission>
    <permission>hudson.model.Item.Build:jamolina</permission>
    <permission>hudson.model.Item.Build:javendano</permission>
    <permission>hudson.model.Item.Build:jbenavidez</permission>
    <permission>hudson.model.Item.Build:jmartinez</permission>
    <permission>hudson.model.Item.Cancel:authenticated</permission>
    <permission>hudson.model.Item.Cancel:ibarona</permission>
    <permission>hudson.model.Item.Cancel:jamolina</permission>
    <permission>hudson.model.Item.Cancel:javendano</permission>
    <permission>hudson.model.Item.Cancel:jbenavidez</permission>
    <permission>hudson.model.Item.Cancel:jmartinez</permission>
    <permission>hudson.model.Item.Configure:authenticated</permission>
    <permission>hudson.model.Item.Configure:ibarona</permission>
    <permission>hudson.model.Item.Configure:jamolina</permission>
    <permission>hudson.model.Item.Configure:javendano</permission>
    <permission>hudson.model.Item.Configure:jbenavidez</permission>
    <permission>hudson.model.Item.Configure:jmartinez</permission>
    <permission>hudson.model.Item.Create:authenticated</permission>
    <permission>hudson.model.Item.Create:ibarona</permission>
    <permission>hudson.model.Item.Create:jamolina</permission>
    <permission>hudson.model.Item.Create:javendano</permission>
    <permission>hudson.model.Item.Create:jbenavidez</permission>
    <permission>hudson.model.Item.Create:jmartinez</permission>
    <permission>hudson.model.Item.Delete:authenticated</permission>
    <permission>hudson.model.Item.Delete:ibarona</permission>
    <permission>hudson.model.Item.Delete:jamolina</permission>
    <permission>hudson.model.Item.Delete:javendano</permission>
    <permission>hudson.model.Item.Delete:jbenavidez</permission>
    <permission>hudson.model.Item.Delete:jmartinez</permission>
    <permission>hudson.model.Item.Discover:authenticated</permission>
    <permission>hudson.model.Item.Discover:ibarona</permission>
    <permission>hudson.model.Item.Discover:jamolina</permission>
    <permission>hudson.model.Item.Discover:javendano</permission>
    <permission>hudson.model.Item.Discover:jbenavidez</permission>
    <permission>hudson.model.Item.Discover:jmartinez</permission>
    <permission>hudson.model.Item.Move:authenticated</permission>
    <permission>hudson.model.Item.Move:ibarona</permission>
    <permission>hudson.model.Item.Move:jamolina</permission>
    <permission>hudson.model.Item.Move:javendano</permission>
    <permission>hudson.model.Item.Move:jbenavidez</permission>
    <permission>hudson.model.Item.Move:jmartinez</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:ibarona</permission>
    <permission>hudson.model.Item.Read:jamolina</permission>
    <permission>hudson.model.Item.Read:javendano</permission>
    <permission>hudson.model.Item.Read:jbenavidez</permission>
    <permission>hudson.model.Item.Read:jmartinez</permission>
    <permission>hudson.model.Item.Workspace:authenticated</permission>
    <permission>hudson.model.Item.Workspace:ibarona</permission>
    <permission>hudson.model.Item.Workspace:jamolina</permission>
    <permission>hudson.model.Item.Workspace:javendano</permission>
    <permission>hudson.model.Item.Workspace:jbenavidez</permission>
    <permission>hudson.model.Item.Workspace:jmartinez</permission>
    <permission>hudson.model.Run.Delete:authenticated</permission>
    <permission>hudson.model.Run.Delete:ibarona</permission>
    <permission>hudson.model.Run.Delete:jamolina</permission>
    <permission>hudson.model.Run.Delete:javendano</permission>
    <permission>hudson.model.Run.Delete:jbenavidez</permission>
    <permission>hudson.model.Run.Delete:jmartinez</permission>
    <permission>hudson.model.Run.Replay:authenticated</permission>
    <permission>hudson.model.Run.Replay:ibarona</permission>
    <permission>hudson.model.Run.Replay:jamolina</permission>
    <permission>hudson.model.Run.Replay:javendano</permission>
    <permission>hudson.model.Run.Replay:jbenavidez</permission>
    <permission>hudson.model.Run.Replay:jmartinez</permission>
    <permission>hudson.model.Run.Update:authenticated</permission>
    <permission>hudson.model.Run.Update:ibarona</permission>
    <permission>hudson.model.Run.Update:jamolina</permission>
    <permission>hudson.model.Run.Update:javendano</permission>
    <permission>hudson.model.Run.Update:jbenavidez</permission>
    <permission>hudson.model.Run.Update:jmartinez</permission>
    <permission>hudson.model.View.Configure:authenticated</permission>
    <permission>hudson.model.View.Configure:ibarona</permission>
    <permission>hudson.model.View.Configure:jamolina</permission>
    <permission>hudson.model.View.Configure:javendano</permission>
    <permission>hudson.model.View.Configure:jbenavidez</permission>
    <permission>hudson.model.View.Configure:jmartinez</permission>
    <permission>hudson.model.View.Create:authenticated</permission>
    <permission>hudson.model.View.Create:ibarona</permission>
    <permission>hudson.model.View.Create:jamolina</permission>
    <permission>hudson.model.View.Create:javendano</permission>
    <permission>hudson.model.View.Create:jbenavidez</permission>
    <permission>hudson.model.View.Create:jmartinez</permission>
    <permission>hudson.model.View.Delete:authenticated</permission>
    <permission>hudson.model.View.Delete:ibarona</permission>
    <permission>hudson.model.View.Delete:jamolina</permission>
    <permission>hudson.model.View.Delete:javendano</permission>
    <permission>hudson.model.View.Delete:jbenavidez</permission>
    <permission>hudson.model.View.Delete:jmartinez</permission>
    <permission>hudson.model.View.Read:authenticated</permission>
    <permission>hudson.model.View.Read:ibarona</permission>
    <permission>hudson.model.View.Read:jamolina</permission>
    <permission>hudson.model.View.Read:javendano</permission>
    <permission>hudson.model.View.Read:jbenavidez</permission>
    <permission>hudson.model.View.Read:jmartinez</permission>
    <permission>hudson.scm.SCM.Tag:authenticated</permission>
    <permission>hudson.scm.SCM.Tag:ibarona</permission>
    <permission>hudson.scm.SCM.Tag:jamolina</permission>
    <permission>hudson.scm.SCM.Tag:javendano</permission>
    <permission>hudson.scm.SCM.Tag:jbenavidez</permission>
    <permission>hudson.scm.SCM.Tag:jmartinez</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:authenticated</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:ibarona</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:jamolina</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:javendano</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:jbenavidez</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:jmartinez</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:authenticated</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:ibarona</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:jamolina</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:javendano</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:jbenavidez</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:jmartinez</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm" plugin="active-directory@2.16">
    <domains>
      <hudson.plugins.active__directory.ActiveDirectoryDomain>
        <name>alltic.local</name>
        <servers>192.168.1.5:3268</servers>
        <site>Default-First-Site-Name</site>
        <bindName>CN=Conexion Aplicaciones,CN=Users,DC=alltic,DC=local</bindName>
        <bindPassword>{AQAAABAAAAAQsuEhykOB5GmKVXN//DKxH3Le8ts/P0wockdijJo9Io0=}</bindPassword>
        <tlsConfiguration>TRUST_ALL_CERTIFICATES</tlsConfiguration>
      </hudson.plugins.active__directory.ActiveDirectoryDomain>
    </domains>
    <startTls>true</startTls>
    <groupLookupStrategy>AUTO</groupLookupStrategy>
    <removeIrrelevantGroups>false</removeIrrelevantGroups>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>